/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
This is to add personal css, dun add the css in html, difficult to see
*/
/* 
    Created on : Oct 13, 2014, 12:38:27 PM
    Author     : locnguyen
*/

#runBtn{
    position: absolute;
    top: 40%;
    left: 34%;
    margin-top: -50px;
    margin-left: -50px;
}

.navbar, .toolbar{
    height: 55px;
}

#loginRunImg {
    display: block;
    width: 100%;
    height: 40%;
}

.black-font {
    color: #000;
}


.tab-icon-resize{
    height:33px;
    font-size:33px;
}

.runpage{
    background:#0F85E7;
}

.none-line-height{
    line-height: normal !important
}

.contact-page-padding-top{
    padding-top:13px !important;
}

.contact-img{
    width: 78px ; height:78px;
    margin: 8px;
    display:block;
    float:left;
}

.item-inner-double{
    min-height: 88px !important;
}

.item-media-color{
    color:#007aff;
}

.weather-icon{
    font-size:150px;
}

.weather-icon-small{
    height:50px;
    font-size:50px;
}

.weather-info{
    height:150px;
    font-size:15px;
}

.weather-info-small{
    height:50px;
    font-size:10px;
}

.weather-title{
    padding-top:30px;
    height:40px; font-size: 30px; 
}

.centerAlignment{
    text-align: center;
}

.padtop30{
    padding-top:30px;
}

.white-color {
    color: white;
}

.logo{
    height:50px;
}